{{template "header" .}}
<div class="container-fluid">
<!-- Our content will go here... somehow -->
<!-- Navigation -->
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">Welcome To Golang {{.Title}}</h1>
        <p class="lead">Go Language MVC</p>
      </div>
    </div>
  </div>
</div>
{{template "footer" .}}